<p>----------------------------------------------------------------------------------------------------------</p>
<p>=> <%= review.rating %>/5</p>
<p>=> <%= review.description %></p>
<p>----------------------------------------------------------------------------------------------------------</p>
